<h4><%= education.name %></h4>
<h5><%= education.location unless education.location.nil? %></h5>
<ul class="disc">
	<% education.education_highlights.each do |highlight| %>
		<% if highlight.categories.include? category %>
			<li><%= highlight.highlight %></li>
		<% end %>
	<% end %>
</ul>