<%= render 'sub_nav' %>
<%= render "heading" %>

<h3>Education</h3>
<% @educations.each do |education| %>
	<%= render 'education', :education => education %>
<% end %>

<h3>Previous Experience</h3>
<% @category.experiences.each do |experience| %>
	<%= render 'experience', :experience => experience %>
<% end %>
